/*general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

html {
    scroll-behavior: smooth;
}

:root {
    /* Color styles */
    --button: #0061FF;
    --bg-primary: #FFFFFF;
    --designit-central: #F5F5F5;
    --asu: #61082B;
    --jumbo: #B4D0E7;
    --footer: #000000;
    --topps: #FF1C1C;
    --wrr: #D5001F;
    --lonely-planet: #0D2481;
    --clear-c: #FFD830;
    --florida: #0093CE;
    --text-ag: #64173E;
    --designit-small: #A2D39B;


}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/

.top-bar div ul li a {
    color: var(--footer);
    padding: 1.85rem;
}



.top-bar div ul li a:hover {
    border-bottom: 2px inset grey;
}

.btn-color {
    background-color: var(--button);
    color: var(--bg-primary);
    padding: 10px 20px;
    border: none;
    font-size: 14px;
}

.top-bar {
    height: 85px;
    margin-bottom: 5px;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-primary);
}

.d-flex {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

}

.gp {
    gap: 2rem 1rem
}

.sp-bt {
    justify-content: space-between;
}





/*icone header

<i class="fa-solid fa-arrow-down"></i>





*/


/*main*/

.bg-jumbo {
    background-color: var(--jumbo);
}



#jumbo {

    max-width: 1200px;
    margin: 0 auto;
    max-height: 750px;
}

.jumbo-cont {
    display: flex;
    align-items: flex-start;
}

#jumbo p,
#jumbo button {
    margin-bottom: 2rem;
}

h1 {
    font-size: 4.8rem;
    font-weight: 800;
    margin-bottom: 2rem;
    padding-top: 5rem;
}

.jumbo-text {
    width: 350px;
    position: relative;
    top: 2rem
}

.img-jumbo {
    width: 800px
}

.img-jumbo img {
    width: 100%;
    position: relative;
    top: 2rem
}

.fa-arrow-down {
    font-size: 3rem;
    margin-top: 2rem;
}

#btn-nav{
    font-size: 16px;
    padding: 8px 16px;
    margin-right: 1rem;
}



/*icone main



<i class="fa-solid fa-user"></i>
<i class="fa-solid fa-users"></i>
<i class="fa-solid fa-building"></i>
<i class="fa-solid fa-folder"></i>
<i class="fa-solid fa-share-nodes"></i>

<i class="fa-solid fa-angle-down"></i>


*/

.bg-primary {
    background-color: var(--bg-primary);
    width: 100%;
}

.bg-primary .cont {

    max-width: 1000px;
    margin: 10rem auto;
}

input {
    padding: 2rem;
    margin: 1rem
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.cont-card {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 1rem
}


.card {
    width: (100/3 - 4rem);
    border: 1px solid lightgrey;
    max-width: 300px;
    font-size: 14px;
}

.top-card {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: .7rem
}


.bottom-card {
    padding: 1rem
}

.bottom-card h3 {
    font-size: 24px;
}

.bottom-card hr {
    margin: 2rem .6rem;
    width: 20%;
}

.bottom-card ul li {
    padding: .25rem;
}

.bottom-card .btn-color,
.buy,
.bottom-card ul li {
    margin-left: 10px;
}

.bottom-card ul li:last-child {
    padding-bottom: 2.5rem;
}

.salienti {
    display: flex;
}

.share,
.user,
.folder,
.text-folder,
.text-share,
.text-user {
    margin: 16px 8px;
}


.buy {
    margin-top: 2rem;
}



.check {
    color: blue;
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}

h4 {
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-size: 14px;
}

.text-check {
    padding-bottom: 1rem;
}

.last-card {
    width: 100%;
    border: 1px solid lightgray;

}

.card-bus {
    width: calc(100% / 3 - 2rem);

}

.last-card .bottom-card {
    padding: 1rem;
}

.last-card .bottom-card p {
    max-width: 70%;
    font-size: 14px;
}

.card-bus img {
    width: 300px;
    display: block;

}

.card-bus h3{
    font-size: 24px;
    margin-bottom: 2rem;
}




/*sezione partner*/

.partner {
    display: flex;
    align-items: center;
    gap: 10px
}

.part-img {
    width: 60%;
}


.part-img img {
    width: 100%;
    display: block;
}

.articolo {
    width: 40%;
    padding: 2rem
}

.articolo h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}

#btn-partner {
    background-color: var(--bg-primary);
    padding: .8rem;
    font-size: 16px;
    border: 1px solid black;
    margin-top: 2rem;
}



/*sezione affiliati*/


.aff {
    width: 100%;
    display: flex;
}

section a {
    text-decoration: underline;
}

.card-aff {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 4rem;

}


.aff-left,
.aff-right,
.aff-central {
    width: calc(100% / 3);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;

}

.aff-central {
    padding: 4rem;
    background-color: var(--designit-central);
}

.logo-central {
    width: 250px;
}

.aff-central hr {
    width: 20%;
    color: lightgray;
    margin: 3rem 0;
}

.logo-central img {
    width: 100%;
    padding-bottom: 1rem;
}

.aff-central p {
    padding-bottom: 1.5rem;

}

.aff-left,
.aff-right {
    filter: invert(1);
}






.card-aff img {
    width: 100%;
    display: block;


}


.aff-central {

    display: block;
    background-color: var(--designit-central);
}

.designit {
    background-color: var(--designit-small);
}

.asu {
    background-color: var(--asu);
}

.florida {
    background-color: var(--florida);
}

.topps {
    background-color: var(--topps);
}

.wbr {
    background-color: var(--wrr);
}

.hearst {
    background-color: var(--jumbo);
}

.lonely {
    background-color: var(--lonely-planet);
}

.clear-ch {
    background-color: var(--clear-c);
}



#porta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;

}

#porta h2 {
    color: var(--text-ag);
}

#prova {
    padding: .75rem;
    width: 300px;
    font-size: 16px;
    border: none;
    background-color: var(--bg-primary);

}

.db-bus {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}


/*footer*/

footer {
    background-color: var(--footer);
    color: var(--bg-primary);
}

.cont-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4rem;
}

.cont-footer hr {
    width: 10%;
    margin: 5rem 0;
}

.card-footer {
    display: flex;
    justify-content: space-between
}

.card-footer ul li {
    text-transform: capitalize;
    padding: .5rem;
}

.card-footer ul li:first-child {
    font-size: 24px;
    font-weight: 700;
}

.card-footer ul li a {
    color: white;
}

.fa-earth-americas {
    color: lightgrey;
}

select {
    background-color: var(--footer);
    color: lightgrey;
    border: none;
    margin-bottom: 3rem;
    text-transform: capitalize;
    font-size: 16px;

}



/*icone footer
<i class="fa-solid fa-earth-americas"></i>

*/